.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.wave-background {
    background-image: url(../images/background-big.png);
    background-repeat: no-repeat;
    background-position: top;
}

.data-is-protected {
    color: #747272;
    font-size: 13px;
    line-height: 1.17;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.container.header-container {
    position: relative;
    max-height: 110px;
    height: 100%;
}

.hero-section {
    padding-top: 16px;
    padding-bottom: 126px;
}

.container.hero-container {
    padding: 0 206px;
}

.photo {
    z-index: -1;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    padding-left: 20px;
    padding-top: 16px;
    background-color: var(--color-pimary-white);
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 2;

    &__nav, &__menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__menu {
        padding-top: 32px;
    }

        &__adress-icons {
            display: flex;
            justify-content: left;
            gap: 20px;
            padding-top: 16px;
        }

        &__adress-link {
            color: var(--color-pimary-blue-dark);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.17;
            text-decoration: none;
            padding-bottom: 16px;
            

            &:hover {
                    color: var(--color-primary-blue);
                    font-weight: 700;
                }
        }

        &__adress-icon {
            fill: var(--color-pimary-blue-dark);
        }

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 20px;
        background-color: transparent;
        border: 0;
    }
}