.carousel-button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
        display: flex   ;
            align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                padding: 0;
                border-radius: 50%;
                fill: var(--color-primary-blue-dark);
                background-color: transparent;
                border: 1px solid var(--color-primary-blue-dark);
                cursor: pointer;
                flex-shrink: 0;
        }

    &:hover {
            background-color: var(--color-primary-blue);
            fill: white;
            border: 1px solid white;
        }

                &.next {
                    transform: rotate(180deg);
                }
}

