.hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 56px;
    background-position-x: -50px;
    background-position-y: -30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 70px;
    background-image: url('/background/background.png');

    @media screen and (min-width: $bp-desktop) {
        padding-bottom: 190px;
        padding-top: 120px;
        background-position: center top;
        padding-right: 0;
        padding-left: 0;
    }
    

    &__container {
            

            @media screen and (min-width: $bp-tablet) {
                padding-left: 206px;
            }
        }

    &__pre-title {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 0;
        text-align: center;

        @media screen and (min-width: $bp-tablet){
            font-size: 18px;
            text-align: left;
        }      
    }
    
    &__title {
        color: var(--color-primary-blue);
        font-family: 'Play', sans-serif;
        font-weight: 700;
        font-size: 54px;
        line-height: 0.8;
        margin-bottom: 32px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 140px;
            margin-bottom: 40px;
            max-width: 529px;
            text-align: left;
        }
    }
    
    
    &__advice {
        color: var(--color-secondary-grey);
        font-size: 11px;
        line-height: 1.5;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 12px;
            text-align: left;
        }
    }

    &__button {
        margin: 0 auto;
        display: block;

        @media screen and (min-width: $bp-tablet) {
            display: inline;
        }
    }
}




